.container {
  display: flex;
  align-items: center;
  max-width: 95%;
}

.headerLink {
  text-decoration: none;
}

.headerNavLink {
  align-items: center;
  gap: 20px;
}

.headerName {
  display: flex;
  align-items: center;
  gap: 4px;
}

.headerProfile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.headerLogout {
  height: 25px;
  width: 25px;
  color: white;
  cursor: pointer;
}

.headerLogo {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
